body {
	background-color: #ffffff;
}

#site_branding {
	width: 20%;
	padding: 5% 0 0 5%;
	color: red;
	text-align: center;
	position: absolute;
}

#bordertop, #borderbottom, #borderleft, #borderright {
	background: #B22222;
	position: fixed;
	}
	#borderleft, #borderright {
		top: 0; bottom: 0;
		width: 15px;
		}
		#borderleft { left: 0; }
		#borderright { right: 0; }
		
	#bordertop, #borderbottom {
		left: 0; right: 0;
		height: 15px;
		}
		#bordertop { top: 0; }
		#borderbottom { bottom: 0; }
		
@media 

/* Fairly small screens including iphones */
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 

{
	#bordertop, #borderbottom, #borderleft, #borderright { display: none; }
}



